trigger: 
  - main
  - feature/*

pool:
 vmImage: ubuntu-latest

parameters:
  - name: env
    type: string
    default: dev
    values:
      - dev
      - preprod
      - prod

variables:
  - name: def_path
    value: '$(System.DefaultWorkingDirectory)/environment/${{ parameters.env }}'

  # - stage1 - init, validate and plan
  # - stage2 - code scanning
  # - stage3 - manual validation and apply

stages:
  - stage: initValidatePlan
    displayName: Init Validate and Apply
    jobs:
      - job: initPlan
        displayName: Init and Plan
        steps:

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(def_path)'
            backendServiceArm: 'myconnect01'
            backendAzureRmStorageAccountName: 'mstatefiles'
            backendAzureRmContainerName: 'statefiles'
            backendAzureRmKey: '${{ parameters.env }}.tfstate'

        - task: TerraformTask@5
          displayName: Terraform Plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(def_path)'
            environmentServiceNameAzureRM: 'fire'

      - job: validate
        dependsOn: initPlan
        displayName: Validate
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(def_path)'
            backendServiceArm: 'myconnect01'
            backendAzureRmStorageAccountName: 'mstatefiles'
            backendAzureRmContainerName: 'statefiles'
            backendAzureRmKey: '${{ parameters.env }}.tfstate'

        - task: TerraformTask@5
          displayName: Terraform Validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(def_path)'

  - stage: securityScan
    displayName: Security Scanning
    jobs:
      - job: tfsecScan
        displayName: tfsec-scanning
        steps:
        - task: tfsec@1
          displayName: tfsec
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)'

      - job: tflint
        steps:
        - task: CmdLine@2
          continueOnError: true
          inputs:
            script: 'tflint $(System.DefaultWorkingDirectory) --recusive -f junit > result.xml'
        
        - task: PublishTestResults@2
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: 'result.xml'

  - stage: apply
    displayName: Apply
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - job: manualValidation
        displayName: Manual Approval
        pool: server
        steps:
        - task: ManualValidation@1
          displayName: Manual Approval
          inputs:
            notifyUsers: 'achinta.dutta04@gmail.com'
            approvers: 'achinta.dutta04@gmail.com'

      - job: apply
        dependsOn: manualValidation
        displayName: Apply
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(def_path)'
            backendServiceArm: 'myconnect01'
            backendAzureRmStorageAccountName: 'mstatefiles'
            backendAzureRmContainerName: 'statefiles'
            backendAzureRmKey: '${{ parameters.env }}.tfstate'

        - task: TerraformTask@5
          displayName: Terraform Apply
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(def_path)'
            environmentServiceNameAzureRM: 'fire'
        
